<div class="col-lg-8">
  <div class="panel panel-default">
    <div class="panel-heading">
   		<i class="fa fa-bar-chart-o fa-fw"></i> {{players.length}} joueurs à inviter sur Kf2Fr
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped players">
						  <thead>
							  <tr>
									<td>Steam ID</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="#player of players">
									<td>
										<a target="_blank" href="http://steamcommunity.com/profiles/{{player.steamId}}">{{player.steamId}}</a>
									</td>
									<td>
										<button type="button" 
												class="btn btn-sm btn-default" 
												[class.disabled]="player.updatePending === true"
												(click)="inviteSentForKf2Fr(player.steamId)">
											{{(player.updatePending) ? 'Invitation envoyée...' :'Invitation envoyée'}}
										</button>
									</td>
								</tr>
							</tbody>
            </table>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>