<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">KF2 FR CRON</a>
    </div>
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
	  <li><a [routerLink]="['Scan']">Joueurs à analyser</a></li>
	  <li><a [routerLink]="['Kf2FrInviteNeeded']">Kf2Fr - Invitations à envoyer</a></li>
	  <li><a [routerLink]="['Kf2FrHoePotentialPlayers']">Kf2FrHoe - Joueurs potentiels</a></li>
	  <li><a [routerLink]="['Kf2FrHoeInviteNeeded']">Kf2FrHoe - Invitations à envoyer</a></li>
	  <li><a [routerLink]="['Kf2FrHoeInviteSent']">Kf2FrHoe - Invitations envoyées</a></li>
	  <li><a [routerLink]="['Kf2FrHoeInviteAccepted']">Kf2FrHoe - Invitations acceptées</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="row">
      <router-outlet></router-outlet>
      <div class="col-lg-4">
    	<div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Notifications
	  </div>
          <div class="panel-body">
            <div class="list-group">
              <table class="table">
                <tr *ngFor="#notification of _notificationService.notifications">
		  
		  <td *ngIf="notification.reason == 'privateProfile'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> à été supprimé, son profil est privé.
                  </td>

		  <td *ngIf="notification.reason == 'unknownCountry'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> à été supprimé, il n'a pas précisé son pays.
                  </td>

                  <td *ngIf="notification.reason == 'dontHaveGame'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> à été supprimé, il n'a pas le jeu.
                  </td>

                  <td *ngIf="notification.reason == 'notEnoughTimePlayed'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> à été supprimé, il n'a que {{notification.player.timePlayed/60}}h de jeu.
                  </td>

                  <td *ngIf="notification.reason == 'badCountry'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> à été supprimé, il n'est pas francophone mais {{notification.player.country}}.
                  </td>

                  <td *ngIf="notification.reason == 'scanPlayerFriendsRetrieved'" class="info">
                    Les amis du joueur <a href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> ont été récupérés.
                  </td>

                  <td *ngIf="notification.reason == 'inviteAlreadySentForKf2Fr'" class="info">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> à déjà reçu une invitation pour Kf2Fr. 
                  </td>

                  <td *ngIf="notification.reason == 'inviteSentForKf2Fr'" class="info">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> est marqué comme ayant reçu une invitation pour Kf2Fr.
                  </td>

                  <td *ngIf="notification.reason == 'inviteNeededForKf2Fr'" class="success">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> mérite une invitation pour Kf2Fr.
                  </td>

                  <td *ngIf="notification.reason == 'inviteNotNeededForKf2Fr'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> ne mérite pas encore une invitation pour Kf2Fr.
                  </td>

                  <td *ngIf="notification.reason == 'inviteAlreadyAcceptedForKf2FrHoe'" class="info">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> à déjà reçu une invitation pour Kf2FrHoe.
                  </td>

                  <td *ngIf="notification.reason == 'notEnoughTimePlayedForKf2FrHoe'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> n'a pas encore assez de temps de jeu ({{notification.player.timePlayed/60}}h / {{timePlayedNeededForKf2FrHoe/60}}h) pour recevoir une invitation pour Kf2FrHoe.
                  </td>

	          <td *ngIf="notification.reason == 'notEnoughPerksMaxForKf2FrHoe'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> n'a pas encore assez de perks niveau 25 ({{notification.player.nbPerksMax}} / {{nbPerksMaxNeeded}}) pour recevoir une invitation pour Kf2FrHoe.
                  </td>

	          <td *ngIf="notification.reason == 'notEnoughHardForKf2FrHoe'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> n'a pas encore réussit assez de map en Hard ({{notification.player.nbHardWon}} / {{nbHardWonNeeded}}) pour recevoir une invitation pour Kf2FrHoe.
                  </td>

	          <td *ngIf="notification.reason == 'notEnoughSuicidalForKf2FrHoe'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> n'a pas encore réussit assez de map en Suicidal ({{notification.player.nbSuicidalWon}} / {{nbSuicidalWonNeeded}}) pour recevoir une invitation pour Kf2FrHoe.
                  </td>

	          <td *ngIf="notification.reason == 'notEnoughHoeForKf2FrHoe'" class="danger">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> n'a pas encore réussit assez de map en Hoe ({{notification.player.nbHoeWon}} / {{nbHoeWonNeeded}}) pour recevoir une invitation pour Kf2FrHoe.
                  </td>

                  <td *ngIf="notification.reason == 'inviteNeededForKf2FrHoe'" class="success">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> doit recevoir une invitation pour le groupe Kf2FrHoe.
		  </td>

	          <td *ngIf="notification.reason == 'inviteSentForKf2FrHoe'" class="info">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> est marqué comme ayant reçu une invitation pour Kf2FrHoe.
                  </td>

                  <td *ngIf="notification.reason == 'inviteAcceptedForKf2FrHoe'" class="info">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> est marqué comme ayant accepté l'invitation pour Kf2FrHoe. 
                  </td>

                  <td *ngIf="notification.reason == 'updateKf2FrHoePlayer'"  class="info">
                    Le joueur <a target="_blank" href="http://steamcommunity.com/profiles/{{notification.player.steamId}}">{{notification.player.steamId}}</a> dans le groupe Kf2FrHoe à été mis à jour.
                  </td>
                </tr>
              </table>
            </div>
      	  </div>
        </div>
      </div>
    </div>
  </div>
</div>
